
label {
  font-size: 1.7rem;
}


.custom-input div {
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}

div.validation-error {
  margin-top: 6px;
  margin-bottom: 10px;
  text-align: left;
  color: red;
  font-size: 1.4rem;
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {
  .custom-input div {
    margin-top: 8px;
  }

  div.validation-error {
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 600px) {
  .custom-input div {
    margin-top: 8px;
  }

  div.validation-error {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}