.redeem-voucher-form {
  margin-top: 70px;
}

.redemption-page {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 30px;
}

.get-voucher-form, .redeem-voucher-form, .amount-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.confirmed-voucher-code {
  font-size: 1.7rem;
}

.amount-left {
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: 3px;
}

.redemption-page label {
  font-size: 1.7rem;
}

div.voucher-code, div.deduct-amount, div.user-email {
  margin-bottom: 20px;
}

div.deduct-amount {
  margin-top: 15px;
  margin-bottom: 0;
}

.deduct-amount-error {
  margin-top: 6px;
  margin-bottom: 10px;
  text-align: left;
  color: red;
  font-size: 1.4rem;
}