.shelter-list-container {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width:70%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}