.shelter-name {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.shelter-description, .shelter-price {
  color: black;
  font-size: 1.4rem;
  margin-top: 10px;
}

.shelter-description{
  font-weight: normal;
}

.shelter-location {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 18px;
}
 
.shelter {
  border: 1px solid #eeeeee;
  border-radius: 0;
  padding: 30px;
  margin-bottom: 50px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
  text-align: left;
  justify-content: space-between;
 }
 
 .shelter-map {
   display: flex;
   flex-direction: column;
   min-width: 23%;
   max-width: 23%;
   flex: 1 1 auto;
 }
 
 .shelter-info {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
 }

 .shelter-map iframe {
   width: auto;
   max-width: 100%;
 }

 @media only screen and (max-width: 900px) {
  .shelter {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .shelter-map {
   max-width: 100%;
   width: 100%;
 }


  .shelter-map iframe {
    height: 110px;
  } 
}
 
