.nav-bar {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

.app-title {
  text-align: center;
}

.nav-bar .nav-bar__item {
  margin-left: 20px;
}

@media only screen and (max-width: 470px) {
  .nav-bar .nav-bar__item {
    margin-left: 6px;
  }
}